.loginForm{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 80%;
  margin: 20px;
}

.loginPageStyle{
  margin: auto;

}

.styleRow{
  /* border: 1px solid red; */
  padding: 20px;
  align-items: center;
}

.styleHeader{
  padding-top: 20px;
  display: flex;
  justify-content:space-between;
}

