.categoryStyle{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: bisque;
  background-color: black;
  font-size: 28px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
}

.categoryStyle:hover{
  border: 2px solid blue;
  color: blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}