.footer-one{
  height: 200px;
  background-color: #b6b6b6;
}

.footer-one-sub{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-two{
  background: #ACACAC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.bank-mitra{
  display: flex;

}

.bank-mitra p {
  border: 2px solid black;
  margin-left: 10px;
  padding: 10px 20px;
  background: black;
  color: aliceblue;
  border-radius: 5px;
  
}


.footer{
  margin-top: 100px;
}

.footer p {
  margin-bottom: 0;
}